.js-careers {
    .question {
        .container {
           > div {
               padding: 60px 20px;
               background-color: #ebebeb;
           }
        }
    }
}
.checkbox {
    padding-left: 30px;
    position: relative;
    input {
        position: absolute;
        top:4px;
        left: 0;
    }
}