.bg-prallax {
    height: 600px;

    img {
        display: none;
    }

    &.party {
        background: transparent url(../images/bg_1.jpg) repeat fixed 50% 50%/cover;
    }

    &.trunk {
        background: transparent url(../images/bg_2.jpg) repeat fixed 50% 50%/cover;
    }

    &.cake {
        background: transparent url(../images/bg_3.jpg) repeat fixed 50% 50%/cover;
    }

    &.family {
        background: transparent url(../images/bg_4.jpg) repeat fixed 50% 50%/cover;
    }

    @include media-breakpoint-down(md) {
        height: auto;
        background-image: none !important;

        img {
            display: block;
        }
    }
}

.banner {
    .container {
        padding: 0;
    }
}

.product {
    .container {
        padding: 0;
    }

    .list-product {
        > div {
            padding: 0;
            overflow: hidden;
            cursor: pointer;

            &:nth-child(2n+1) {
                background-color: #7fccde;
            }

            &:nth-child(2n) {
                background-color: #bfe4ee;
            }

            &:nth-child(6),
            &:nth-child(8) {
                background-color: #7fccde;
            }

            &:nth-child(5),
            &:nth-child(7) {
                background-color: #bfe4ee;
            }

            @include media-breakpoint-down(md) {
                &:nth-child(1),
                &:nth-child(4),
                &:nth-child(5),
                &:nth-child(8) {
                    background-color: #7fccde;
                }

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(6),
                &:nth-child(7) {
                    background-color: #bfe4ee;
                }
            }

            img {
                transform: matrix3d(1, 0.000174533, 0, 0, -0.000174533, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0.1, 1);
                transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
            }

            h4 {
                opacity: 0;
                transform: matrix(1, 0, 0, 1, 0, 0);
                text-align: left;
                font-size: 2.3rem;
                position: absolute;
                font-weight: 500;
                left: 0px;
                top: 0px;
                line-height: 25px;
            }

            &:hover {
                img {
                    transform: translate(60%, 0) matrix3d(1, 0.000174533, 0, 0, -0.000174533, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0.1, 1);
                }

                h4 {
                    opacity: 1;
                    transform: matrix(1, 0, 0, 1, 32.5, 134);
                }
            }
        }
    }
}

.sign-up {
    height: 160px;
    background: transparent url(../images/dollop-bg.jpg) repeat fixed 50% 10%/cover;
    padding: 0;
}

.story {
    @include media-breakpoint-down(md) {
        padding: 15px;
    }

    .content {
        max-width: 700px;
        margin: 0 auto;
        text-align: center;

        .nav-tabs {
            text-align: center;
            border: none;
            margin-bottom: 25px;

            li {
                display: inline-block;
                width: 33.3333%;
                background-color: $white;

                @include media-breakpoint-down(md) {
                    width: 100%;
                    margin-bottom: 5px;
                }

                a {
                    padding: 10px 15px;
                    display: block;
                    text-decoration: none !important;
                }

                &:hover {
                    background-color: #ededed;
                }

                &.active {
                    a {
                        color: $primary-color-active;
                    }
                }
            }
        }

        p {
            line-height: 16px;
        }
    }
}

.recipe {
    .recipe-list {
        > div {
            position: relative;

            a {
                display: block;

                .overlay-txt {
                    overflow: hidden;
                    text-align: center;
                    margin: auto;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    padding: 0 40px;
                    margin-top: 0px;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.8);
                    opacity: 0;
                    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
                    padding-top: 17%;

                    h3 {
                        font-size: 1.5rem;
                    }
                }

                &:hover {
                    .overlay-txt {
                        opacity: 1;
                    }
                }
            }

            @include media-breakpoint-down(md) {
                padding: 15px;
            }
        }
    }
}

.service {
    .content {
        max-width: 700px;
        text-align: center;
        padding-bottom: 25px;
        padding-top: 5px;
        margin: 0 auto;
        margin-bottom: 10px;
    }

    .href-link {
        color: $primary-color-active;
        font-weight: 900;

        &:hover {
            text-decoration: underline !important;
        }
    }
}

.sign-up {
    @include media-breakpoint-down(md) {
        padding: 15px;
    }

    .content {
        max-width: 570px;
        margin: auto;
        overflow: hidden;
        padding-top: 60px;

        input {
            height: 44px;
            width: calc(100% - 115px);
            float: left;
            border-radius: 4px;
            padding: 10px 15px;
            border:none;
            @include media-breakpoint-down(md) {
                width: calc(100% - 72px);
            }
        }

        button {
            float: right;
            width: 85px;
            margin: 0;
            border-radius: 5px;
            padding: 7px;
            font-weight: 400;
            font-size: 1.4rem;

            @include media-breakpoint-down(md) {
                width: 52px;
            }
        }
    }
}

.what-news {
    padding-top: 0;

    .news-item {
        position: relative;

        .item {
            padding: 0 15px;

            a {
                display: block;
                position: relative;

                .overlay-txt {
                    overflow: hidden;
                    text-align: center;
                    margin: auto;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    padding: 0 40px;
                    margin-top: 0px;
                    height: 100%;
                    background-color: rgba(22, 155, 191, 0.7);
                    opacity: 0;
                    @include transition(all 0.3s cubic-bezier(0.4, 0, 1, 1));

                    h3 {
                        font-size: 1.5rem;
                        color: $white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        @include translate2D(-50%,-50%);
                    }
                }

                &:hover {
                    .overlay-txt {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .slick-arrow.slick-next {
        right: 20px;
    }

    .slick-arrow.slick-prev {
        left: 20px;
    }
}

.join-us {
    h4 {
        color: $primary-color-active;
        margin: 0px 0 20px 0;
        padding-bottom: 9px;
        font-size: 1.5rem;
        text-align: center;
        font-weight:400;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 0;
        text-align: center;

        li {
            width: 20%;
            display: inline-block;

            a {
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}
