.bg-prallax {
    height: 600px;
    padding:0;
    img {
        display: none;
    }

    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    @include media-breakpoint-down(md) {
        height: auto;
        background-image: none !important;

        img {
            display: block;
        }
    }
}

.wn-banner {
    .container {
        position: relative;
    }
    .item {
        position: relative;
        .text-right {
            left: auto;
            right:0;
            max-width: 70%;
            h3 {
                font-size: 6rem;
                text-shadow: 0 0 2px rgba(0,0,0,0.3);
            }

        }
        .text-center {
            left:50%;
            width: 100%;
            @include translate(-50%,-50%);
        }
    }

    .text {
        position: absolute;
        top: 50%;
        left: 0;
        @include translate(0,-50%);
        padding: 0 8%;
        color: #fff;
        * {
            color: inherit;
        }
        h3 {
            margin:0;
            & + p {
                margin-top: 30px;
            }
            font-size: 7rem;

        }

    }

    &.text-a-center {
        h3 {
            left: 50%;
            @include translate(-50%,-50%);
        }
    }
    @include media-breakpoint-down(md) {
        padding: 0px 0 20px!important;
        .text h3{
            font-size: 3rem!important;

        }
        .item .text-right {
            @include media-breakpoint-down(md) {
                max-width: 100%;

            }
        }
        .container {
            max-width: 100%;
            padding:0;
            img {
                width: 100%;
            }
        }
    }
}


.product {
    .list-product {
        > div {
            padding: 0;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            &:nth-child(2n+1) {
                background-color: #7fccde;
            }

            &:nth-child(2n) {
                background-color: #bfe4ee;
            }

            &:nth-child(6),
            &:nth-child(8) {
                background-color: #7fccde;
            }

            &:nth-child(5),
            &:nth-child(7) {
                background-color: #bfe4ee;
            }



            img {
                transform: matrix3d(1, 0.000174533, 0, 0, -0.000174533, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0.1, 1);
                transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
            }

            h4 {
                opacity: 0;
                //transform: matrix(1, 0, 0, 1, 0, 0);
                text-align: left;
                font-size: 2.3rem;
                position: absolute;
                font-weight: 500;
                left: 10%;
                @include translateY(-50%);
                top: 50%;
                line-height: 25px;
            }

            &:hover {
                img {
                    transform: translate(60%, 0) matrix3d(1, 0.000174533, 0, 0, -0.000174533, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0.1, 1);
                }

                h4 {
                    opacity: 1;
                }
            }

        }
    }
    @include media-breakpoint-down(md) {
        padding-bottom: 0;
       .list-product > div {
           &:nth-child(1),
           &:nth-child(4),
           &:nth-child(5),
           &:nth-child(8) {
               background-color: #7fccde;
           }

           &:nth-child(2),
           &:nth-child(3),
           &:nth-child(6),
           &:nth-child(7) {
               background-color: #bfe4ee;
           }
           h4 {
               font-size: 1.8rem;
           }
       }
    }
}

.sign-up {
    height: 160px;
    background: transparent url(../images/dollop-bg.jpg) repeat fixed 50% 10%/cover;
    padding: 0;
}

.story {

    .content {
        max-width: 700px;
        margin: 0 auto;
        text-align: center;

        .nav-tabs {
            text-align: center;
            border: none;
            margin-bottom: 25px;

            li {
                display: inline-block;
                width: 33.3333%;
                background-color: $white;

                @include media-breakpoint-down(sm) {
                    width: 100%;
                    margin-bottom: 5px;
                }

                a {
                    padding: 10px 15px;
                    display: block;
                    text-decoration: none !important;
                }

                &:hover {
                    background-color: #ededed;
                }

                &.active {
                    a {
                        color: $primary-color-active;
                    }
                }
            }
        }

        p {
            line-height: 16px;
        }
    }
}

.recipe {
    .recipe-list {
        > div {
            position: relative;

            a {
                display: block;
                position: relative;
                .overlay-txt {
                    overflow: hidden;
                    text-align: center;
                    margin: auto;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.8);
                    opacity: 0;
                    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);

                    h3 {
                        font-size: 1.5rem;
                        margin:0;
                        position: absolute;
                        left: 50%;
                        padding: 0 20px;
                        width: 100%;
                        top: 50%;
                        @include translate(-50%,-50%)
                    }
                }

                &:hover {
                    .overlay-txt {
                        opacity: 1;
                    }
                }
            }

            @include media-breakpoint-down(md) {
                padding: 15px;
            }
        }
    }
}

.service {
    .content {
        max-width: 700px;
        text-align: center;
        //padding-bottom: 25px;
        //padding-top: 5px;
        margin: 0 auto;
        //margin-bottom: 10px;
    }

    .href-link {
        color: $primary-color-active;
        font-weight: 900;

        &:hover {
            text-decoration: underline !important;
        }
    }
}

.sign-up {
    @include media-breakpoint-down(md) {
        padding: 15px;
    }

    .content {
        max-width: 570px;
        margin: auto;
        overflow: hidden;
        padding-top: 60px;

        input {
            height: 44px;
            background: white;
            margin:0;
            width: calc(100% - 115px);
            float: left;
            border-radius: 4px;
            padding: 10px 15px;
            border:none;
            @include media-breakpoint-down(md) {
                width: calc(100% - 72px);
            }
        }

        button {
            float: right;
            min-width: 85px;
            margin: 0;
            border-radius: 5px;
            padding: 7px;
            font-weight: 400;
            font-size: 1.4rem;

            @include media-breakpoint-down(md) {
                min-width: 52px;
            }
        }
    }
}

.what-news {
    padding-top: 0;

    .news-item {
        position: relative;
        .item {

            a {
                display: block;
                position: relative;
                margin: 0 15px;

                .overlay-txt {
                    overflow: hidden;
                    text-align: center;
                    margin: auto;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    height: 100%;
                    background-color: rgba(22, 155, 191, 0.7);
                    opacity: 0;
                    @include transition(all 0.3s cubic-bezier(0.4, 0, 1, 1));

                    h3 {
                        font-size: 1.5rem;
                        color: $white;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin:0;
                        width: 100%;
                        padding: 0 40px;
                        @include translate2D(-50%,-50%);
                    }
                }

                &:hover {
                    .overlay-txt {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .slick-arrow.slick-next {
        right: 20px;
    }

    .slick-arrow.slick-prev {
        left: 20px;
    }
}

.join-us {
    h4 {
        color: $primary-color-active;
        margin: 0px 0 20px 0;
        padding-bottom: 9px;
        font-size: 1.5rem;
        text-align: center;
        font-weight:400;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 0;
        text-align: center;

        li {
            width: 20%;
            display: inline-block;

            a {
                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}


@include media-breakpoint-down(md) {
    .what-news .news-item .item a .overlay-txt {
        //opacity: 1;
    }
    .recipe .recipe-list > div a .overlay-txt {
        //opacity: 1;
        h3 {
            font-size: 1.2rem;
        }
    }

    .story .content {
        padding: 0 15px;
    }

    .product {
        .container {
            max-width: 100%;
            padding:0;
        }
    }
}
@include media-breakpoint-down(lg) {
    .bg-prallax {
        background-attachment: inherit!important;
    }

}