.product-item {
    .button-group {
        @include border-radius(10px);
        background-color: #ebebeb;
        overflow: hidden;
        padding: 18px 60px;
        width: 65%;
        margin: 0 auto 35px auto;

        @include media-breakpoint-down(md) {
            width: calc(100% - 30px );
            text-align: center;
            @include border-radius(0);
            padding: 8px 10px;
        }

        button {
            font-size: 1.7rem;
            background-color: transparent;
            border: 0;
            outline: 0;
            padding: 0 10px;
            border-right: 2px solid $primary-color-active;
            font-weight: 900;
            color: $buttontext;
            cursor: pointer;

            @include media-breakpoint-down(md) {
                border: 0;
                padding:4px 15px;
                width: 100%;
                display: block;
                text-align: center;
            }

            &:hover,
            &.is-checked {
                color: $primary-color-active;
            }
        }
    }

    .grid {
        width: 100%;
    }

    .element-item {
        position: relative;
        width: 50%;
        float: left;
        border-bottom: 10px solid #ebebeb;
        display: table;

        @include media-breakpoint-down(md) {
            width: 100%;
            padding: 15px;
        }

        a {
            display: table;
            width: 100%;
            &:hover {
                text-decoration: none;
            }
            > div {
                width: 50%;
                display: table-cell;
                vertical-align: middle;
                padding: 10px;

                @include media-breakpoint-down(md) {
                    width: 100%;
                    display: block;
                    text-align: center;
                    flex: 0 0 100%;
                    max-width: 100%;
                    img {
                       display: inline;
                    }
                }


            }

            &:hover {
                background-color: $primary-color-active;

                h3 {
                    color: $body-bg-color;
                }
            }
        }
    }
}

.product-detail {
    .info {

        .avalable-in {
            padding: 0;
            margin: 0;
            list-style: none;
            font-size: 0;

            li {
                display: inline-block;
                padding: 0 10px 5px 0;
                max-width: 90px;
            }
        }

        .share-product {
            h4 {
                display: inline-block;

                @include media-breakpoint-down(md) {
                    display: block;
                }
            }

            span {
                display: inline-block;
                margin: 15px 0 0 0;
                padding: 0 0 0 20px;

                @include media-breakpoint-down(md) {
                    padding: 0;
                    margin: 0;
                }

                a {
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    .product-des {
        margin: 40px 0 20px 0;

    }
}

.related-product {
    padding-top: 0;

    .section-title {
        text-align: left;
    }

    .news-item {
        background-color: $primary-color-active;
        padding: 30px;
        a:hover {
            text-decoration: none;
        }
    }

    .item {
        padding: 0 10px;

        h3 {
            font-size: 2rem;
            margin: 20px 0 0 0;
            color: $body-bg-color;
        }
    }

    .slick-arrow.slick-prev {
        left:5px;
    }

    .slick-arrow.slick-next {
        right: 5px;
    }
}

@include media-breakpoint-down(md) {
    .btn-filter-collpase {
        display: block;
    }

    #filter_collapse {
        padding: 18px 60px;
        display: block;

        &.collapse:not(.show) {
            display: none;
        }


    }
}
