.js-recipe-detail {
    .wn-banner {
        max-height: 565px;
        overflow: hidden;
    }
}
.testimonial-slider {
    .quote {
        background: #009ABF;
        color: white;
        font-weight: 900;
        line-height: 1.2;
        blockquote {
            font-size: 2.8rem;
            font-style: italic;

            margin:0 0 30px;
            position: relative;
            .fas {
                position: absolute;
                top:0;
                left: -40px;
                transform: rotate(-180deg);
                &:last-child {
                    position: relative;
                    bottom:auto;
                    top: 5px;
                    left: auto;
                    right:auto;
                    transform: rotate(0deg);
                }
            }
        }
        img {
            opacity: 0;
            visibility: hidden;
        }
        .text {
            max-width: 780px;
            padding:0 20px;
            width: 100%;
            left: 50%;
            @include translate(-50%,-50%);
        }
        .information {
            font-weight: bold;
            font-size: 2.2rem;
            text-align: right;
        }
        @include media-breakpoint-down(md) {
            .fas {
                position: static!important;
            }
            blockquote {
                font-size: 1.2rem;
                margin:0;
            }
            .information {
                font-size: 1.1rem;
            }
        }
    }
}
.receipe-banner {
    .content {
        position: relative;

        h3 {
            font-size: 6.1rem;
            width: 50%;
            right: 0;
            left: auto;
            text-align: right;
            padding: 0 5%;

            @include media-breakpoint-down(md) {
                font-size: 4rem;
            }
        }
    }
}

.recipe {
    .container {
        position: relative;
    }

    .filter-recipe {
        background-color: #e7f5f8;
        position: relative;

        a {
            font-weight: 900;
            padding: 17px 15px;
            display: block;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover {
                text-decoration: none;
            }

            &:after {
                content: none;
            }
        }

        .dropdown-menu {
            padding: 0;
            //left: -15px !important;
            border: 0;

            li {
                background-color: #e7f5f8;

                a {
                    display: block;

                    &:hover {
                        background-color: #e8e8e8;
                    }
                }
            }
        }
    }

    .search-group {
        position: absolute;
        width: calc(100% - 30px);
        top: 0px;
        color: $white;
        display: none;

        #closeSearch {
            font-size: 3rem;
            cursor: pointer;
            line-height: 1;
            position: absolute;
            top: 50%;
            @include translateY(-50%);
            right: 15px;
            color: #fff;

            &:hover {
                opacity: 0.85;
            }
        }

        input {
            font-weight: bold;
            font-size: 1.5rem;
            color: $white;
            @include placeholder(white)
        }
    }

    &.show-search {
        .search-group {
            display: block;
        }
    }


    .fa-search {
        font-size: 3rem;
        line-height: 56px;
        cursor: pointer;
        position: absolute;
        right: 30px;
        top: 0;
    }

    .recipe-list {
        margin: 20px -10px 0;

        > div {
            margin-bottom: 20px;
            padding: 0 10px;
            @include media-breakpoint-down(md) {
                margin-bottom: 0px;
                padding: 10px 10px;
            }
        }
    }
}

.recipe-detail {
    padding-top: 0;

    .re-title {
        margin: 20px 0 50px 0;
        background-color: #e7f5f8;
        font-weight: 600;
        line-height: 50px;
    }

    .icon {
    }

    .share {
        padding: 0;

        span {
            &:first-child {
                margin-right: 15px;
            }

            &:last-child {
                a {
                    margin-right: 10px;

                    img {
                        height: 25px;
                    }
                }
            }

            @include media-breakpoint-down(md) {
                display: block;
                text-align: center;
            }
        }
    }

    .rp-content {
        .c-left {
            h3 {
                font-size: 2.3rem;
                font-weight: 900;
                margin: 0;
                color: $primary-color-active;
            }

            ul {
                padding: 0;
                margin: 0;
                list-style: none;

                li {
                    margin-bottom: 10px;
                    color: $primary-color-active;
                }
            }
        }

        .c-right {


            ol {
                li {
                    margin-bottom: 15px;
                }
            }

            .relate-product-re {
                .item {
                    text-align: center;

                    a {
                        display: block;

                        img {
                            margin-bottom: 10px;
                        }

                        h3 {
                            font-size: 1.5rem;
                        }

                        &:hover {
                            text-decoration: underline !important;
                            color: $body-color;
                        }
                    }
                }
            }
        }
    }
    @include media-breakpoint-down(lg) {
        .re-title .icon{
            text-align: center;
            line-height: 1.6;
            margin-bottom: 10px;
            img {
                max-height: 20px;
                display: block;
                margin: 15px auto 10px!important;
            }
        }
        .share span:last-child a img {
            height: 15px;
        }
    }

}
