footer {
    background-color: $white;
    padding: 40px 0;

    .container {
        padding: 0;
    }


    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 10px;

            a {
                font-weight: 600;
                font-size: 1.7rem;
            }
        }
    }

    .locations {
        h3 {
            font-size: $font-size-base;
            font-weight: 600;
            margin-top: 0px;
        }

        p {
            font-size: 1.2rem;
            line-height: 25px;
            color: $primary-color;
            font-weight: 500;
        }
    }

    .social-container {
        text-align: right;
        float: right;

        @include media-breakpoint-down(md) {
            float: left;
            text-align: left;
        }

        h3 {
             font-size: $font-size-base;
            font-weight: 600;
            margin-top: 0px;
        }

        ul {
            margin-top: 5px;

            li {
                display: inline-block;
                width: 30px;
                margin: 0 3px;
            }
        }

        .link-rapper {
            a {
                font-size: 1.1rem;
                font-weight: 400;
            }
        }
    }

    @include media-breakpoint-down(md) {
        padding: 15px;

        .f-logo {
            display: none;
        }

        
    }
}
