html {
    font-size: 62.5%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $body-bg-color;

    img {
        max-width: 100%;
        display: inline-block;
    }
}


h1, h2, h3 {
    font-family: $headings-font-family;
    font-weight:900;
}

.title {
    font-family: $font-family-base;
}

h2 {
    font-size: 3.8rem;
    letter-spacing: -1px;
}

h3 {
    font-size: 2.8rem;
}

h5 {
    font-size: 1.6rem;

    &.title {
        font-size: 1.8rem;
    }
}

h6 {
    font-size: 1.4rem;
}

img {
    max-width: 100%;
}

.semibold {
    font-weight: 600;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix {
    &:after, &:before {
        content: "";
        display: table;
        clear: both;
    }
}

.no-padding-top {
    padding-top: 0;
}

@include media-breakpoint-up(lg) {
    .container-fluid {
        padding: 0 25px;
    }
}

*[routerlink] {
    cursor: pointer;
    outline: none;
}

.link {
    cursor: pointer;
}

.mute {
    font-size: 1.2rem;
}

.mute-yellow {
    color: #A29C87;
}

.text-xs {
    font-size: 1.2rem;
}

.text-sm {
    font-size: 1.4rem;
}

.section-title {
    font-size: 3.4rem;
    margin: 0 0 30px 0;
    text-align: center;
    font-weight: 900;

    @include media-breakpoint-down(md) {
        margin: 0 0 15px 0;
    }
}

a {
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
    color: $body-color;
    text-decoration: none !important;

    &:hover {
        color: $primary-color-active;
    }
}

.slick-arrow {
    position: absolute;
    top: 45%;
    z-index: 9;
    width: 40px;
    height: 40px;
    border: 0;
    overflow: hidden;
    line-height: 0;
    text-align: center;
    outline: 0;
    width: 30px;
    height: 80px;
    text-indent: -9999999px;
    background-color: transparent;
    cursor: pointer;
    outline: none !important;

    @include media-breakpoint-down(md) {
        top: 30%;
    }

    &:after {
        content: "";
        display: block;
        width: 20px;
        height: 70px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    &.slick-next {
        right: 15px;

        &:after {
            background-image: url('../images/right-arrow.png');
        }

        &:hover {
            &:after {
                background-image: url('../images/right-arrow-hover.png');
            }
        }
    }

    &.slick-prev {
        left: 15px;

        &:after {
            background-image: url('../images/left-arrow.png');
        }

        &:hover {
            &:after {
                background-image: url('../images/left-arrow-hover.png');
            }
        }
    }
}

main {
    padding-top: 90px;

    @include media-breakpoint-down(md) {
        padding-top: 75px;
    }
}

section {
    position: relative;
    padding: 60px 0;

    @include media-breakpoint-down(md) {
        padding: 30px 0;
    }
}

.primary-btn {
    background-color: $primary-color-active;
    text-shadow: none;
    color: $white;
    width: 240px;
    background-image: -webkit-linear-gradient(top, #169bbf 0, #169bbf 100%);
    background-image: -o-linear-gradient(top, #169bbf 0, #169bbf 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#169bbf), to(#169bbf));
    background-image: linear-gradient(to bottom, #169bbf 0, #169bbf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#169bbf', endColorstr='#169bbf', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    font-size: 2rem;
    margin-top: 30px;
    line-height: 2;
    padding: 8px 36px;
    cursor: pointer;
    font-weight: 500;

    &:hover {
        color: $white;
        text-decoration: none;
        opacity: 0.8;
    }
}

@include media-breakpoint-down(md) {
    .col-xs-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xs-4 {
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
    }
    .row:not(.row-mobile){
        display:block;
    }
}
